<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/tailwind.css" rel="stylesheet">
</head>

<!-- Hapus baris ini atau ganti jadi teks biasa tanpa simbol tag -->

<body class="bg-gray-100">
  <div class="flex">
    <!-- Cukup panggil begini -->
    <%- include('sidebar') %>

      <div class="flex-1">
        <%- include('header') %>
          <main class="p-6">
            <%- include(body) %>
          </main>
          <%- include('footer') %>
      </div>
  </div>
</body>



</html>